@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-moz-selection {
  background-color: rgba(244, 208, 63, 0.5); }

::selection {
  background-color: rgba(244, 208, 63, 0.5); }

html {
  font-size: 10px; }

body {
  font-family: 'Encode Sans Condensed', sans-serif;
  padding: 5rem 2.5rem;
  background-color: #FAFAFA;
  color: #22313F; }

.container {
  width: 120rem;
  margin: 0 auto; }

.heading {
  margin-bottom: 10rem; }
  .heading--header {
    font-size: 4.4rem;
    margin-bottom: 5rem;
    margin-left: 2.5rem;
    padding: .5rem 1rem;
    background-color: rgba(244, 208, 63, 0.5);
    display: inline-block; }
  .heading--para {
    font-size: 2.4rem;
    text-align: right;
    max-width: 85%;
    margin-left: auto; }

.emphasize {
  display: inline-block;
  position: relative; }
  .emphasize::before {
    content: "";
    width: 100%;
    height: 1rem;
    background-color: rgba(244, 208, 63, 0.5);
    position: absolute;
    bottom: -.5rem;
    left: 0;
    transition: all .2s; }
  .emphasize:hover::before {
    background-color: rgba(244, 208, 63, 0.75); }

.quote {
  padding-left: 2.5rem; }
  .quote::after {
    content: open-quote;
    position: absolute;
    top: 1rem;
    left: 0;
    transform: scale(3) rotate(20deg);
    color: #ddd;
    opacity: .75; }

.context {
  display: flex;
  justify-content: space-between;
  margin-top: 7.5rem; }
  .context--left {
    position: relative; }
  .context--right {
    position: relative; }
  .context--heading {
    font-size: 3.2rem;
    margin: 0 1rem 5rem 1rem;
    font-weight: 500;
    text-transform: uppercase; }
  .context--info {
    font-size: 1.8rem;
    font-weight: 300; }
    .context--info:not(:first-of-type) {
      margin-top: 2rem; }

.tooltip {
  position: absolute;
  left: -9999px;
  pointer-events: none;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  border-radius: 5px;
  background-color: #fafafa;
  text-align: center;
  transition: none;
  z-index: 3;
  max-width: 15rem; }
  .tooltip--heading {
    font-size: 1.6rem;
    margin-bottom: .5rem; }
  .tooltip--info {
    font-size: 1.4rem; }
    .tooltip--info p:not(:first-of-type) {
      margin-top: .25rem; }

#byCountry .context--left {
  width: 25%; }

#byCountry .context--right {
  width: 75%;
  height: 425rem; }

#byCountry .context--heading {
  text-align: right; }

#cpiVshdi .context--left {
  width: 75%;
  height: 75rem; }

#cpiVshdi .context--right {
  width: 25%; }

#cpiVshdi .context--heading {
  text-align: left; }

#cpiVshdi .context--info {
  text-align: right; }

#cpiVsdem .context--left {
  width: 25%; }

#cpiVsdem .context--right {
  width: 75%;
  height: 90rem; }

#cpiVsdem .context--heading {
  text-align: right; }

#cpiVsschooling.context {
  flex-direction: column; }

#cpiVsschooling .context--top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

#cpiVsschooling .context--bottom {
  height: 130rem;
  position: relative; }

#cpiVsschooling .context--info {
  text-align: center;
  margin: 0 1rem; }

#cpiVsschooling .context--heading {
  margin: 0;
  margin-right: 3rem; }
