#cpiVsschooling {
    &.context {
        flex-direction: column;
    }

    .context {
        &--top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &--bottom {
            height: 130rem;
            position: relative;
        }

        &--info {
            text-align: center;
            margin: 0 1rem;

            &:first-of-type {
                text-align: left;
            }

            &:last-of-type {
                text-align: right;
            }
        }

        &--heading {
            margin: 0;
            margin-right: 3rem;
        }
    }
}