#cpiVshdi {
    .context {
        &--left {
            width: 75%;
            height: 75rem;
        }

        &--right {
            width: 25%;
        }

        &--heading {
            text-align: left;
        }

        &--info {
            text-align: right;
        }
    }
}